body {
  background-color: #EFECCA;
  margin:0;
}
a {
  text-decoration: none;
}
hr {border:0;
  margin:0;
  height:0;
  clear:both;
}

#barre_nav_header_1 {
  height:68px;
  background-color: #8DD8F3;
  width:100%;
  opacity:0,7;
}
/*javascript*/
.fixNavigation {
  transition: 10s;
  position: fixed;
  top: 0;
}
.div_nav_header_1 {
  float:right;
  margin-right: 90px;
}
.ul_nav_header_1 li{
  display:inline-block;
  margin-right:10px;
  line-height: 35px;
}
.li_nav_header_1 {
  color:white;
  font-size:16px;
  margin-right:15px;
}




#barre_nav_header_2 {
  display:inline-block;
  height:65px;
  width:100%;
  background-color: #66B6D4;
  z-index: 5;
}
.div_nav_header_2_accueil {
  float:left;
  margin-left: 35px;
}
.ul_nav_header_2_accueil li{
  display:inline-block;
  line-height:35px;
}
.li_nav_header_2_accueil {
  font-size:22;
  color:white;
}
.div_nav_header_2 {
  float:right;
  margin-right: 85px;
}
.ul_nav_header_2 li{
  display:inline-block;
  margin-right:10px;
  line-height: 32px;
}
.li_nav_header_2 {
  color:white;
  font-size:14px;
  margin-right:20px;
}


#section_1 {
  width:1300px;
  height:450px;
  margin-top:50px;
  margin-left:25px;
  margin-right:25px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px grey;
}
.section_1_gauche {
  height:400px;
  width:300px;
  background-color:white;
  float:left;
  margin-left:20px;
  border-right: 2px inset grey;
}
 .section_1_gauche img {
   height:250px;
   width:230px;
   border-radius:30%;
   margin-top:25px;
   margin-left:25px;
   -webkit-transition:all 0.3s ease-out;
     -moz-transition:all 0.3s ease-out;
     -ms-transition:all 0.3s ease-out;
     -o-transition:all 0.3s ease-out;
     transition:all 0.3s ease-out;
 }
 .section_1_gauche img:hover{
   -webkit-transform:rotate(5deg) scale(1.2);
-moz-transform:rotate(5deg) scale(1.2);
-ms-transform:rotate(5deg) scale(1.2);
-o-transform:rotate(5deg) scale(1.2);
transform:rotate(5deg) scale(1.2);
 }
.section_1_gauche h1 {
  color:#66B6D4;
  font-size:26px;
  text-align:left;
  margin-left:10px;
}
.section_1_gauche p {
  text-align: center;
  font-size:12px;
  line-height:15px;
  color:grey;
}
.section_1_centre {
  height:400px;
  width:570px;
  float:left;
  background-color:white;
  margin-left:10px;
  margin-right:10px;
}
.section_1_centre h1 {
  color:#66B6D4;
  text-align:center;
  font-size:30px;
}
.p_titre {
  color:grey;
  text-align: center;
  font-size: 16px;
}
.p_bloc {
  color:grey;
  text-align:center;
  font-size: 14px;
}
.section_1_droite {
  margin-top:60px;
  height:375px;
  width:380px;
  background-color:white;
  border-left: 2px outset grey;
  float:left;
}
.section_1_droite h1 {
  color:#66B6D4;
  font-size:26px;
  text-align: center;
}
.github {
  height:120px;
  margin-left:40px;
  margin-top:33px;
  float:left;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.github:hover{
  -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);
}
.viadeo {
  height:170px;
  margin-left:35px;
  margin-bottom:30px;
  float:left;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.viadeo:hover{
  -webkit-transform:scale(1.3);
 -moz-transform:scale(1.3);
 -ms-transform:scale(1.3);
 -o-transform:scale(1.3);
 transform:scale(1.3);
}
.linkedIn {
  height:80px;
  margin-left:45px;
  margin-bottom:10px;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.linkedIn:hover{
  -webkit-transform:scale(1.2);
 -moz-transform:scale(1.2);
 -ms-transform:scale(1.2);
 -o-transform:scale(1.2);
 transform:scale(1.2);
}

#megadiv_section_2 {
  width:1350;
  height:870px;
}
#section_2_gauche {
  margin-top:50px;
  height:800px;
  width:300px;
  background-color:#66B6D4;
  float:left;
  margin:20px;
  box-shadow: 2px 2px 2px 2px #66B6D4;
}
#section_2_gauche h1 {
  color:white;
  font-size:26px;
  text-align:left;
  margin-left:30px;
}
#section_2_gauche p {
  text-align: left;
  font-size:14px;
  line-height:15px;
  color:white;
    margin-left:30px;
}
#grande_section_2_droite {
  float:left;
  height:800px;
  width:985px;
  background-color: white;
  margin-top:20px;
  box-shadow: 2px 2px 2px 2px grey ;
  margin-left:5px;
}
.section_2_centre {
  margin-top:50px;
  height:750px;
  width:150px;
  background-color:white;
  float:left;
  margin:20px;
  border-right: 2px inset grey;
}
.dates_etudes_1 {
  height:25px;
  width:60px;
  background-color:#66B6D4;
  margin-top:100px;
}
.dates_etudes_1 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_etudes_2 {
  height:25px;
  width:120px;
  background-color:#66B6D4;
  margin-top:150px;
}
.dates_etudes_2 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_etudes_3 {
  height:25px;
  width:60px;
  background-color:#66B6D4;
  margin-top:110px;
}
.dates_etudes_3 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_etudes_4 {
  height:25px;
  width:120px;
  background-color:#66B6D4;
  margin-top:105px;
}
.dates_etudes_4 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_etudes_5 {
  height:25px;
  width:60px;
  background-color:#66B6D4;
  margin-top:105px;
}
.dates_etudes_5 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.section_2_droite {
  height:750px;
  width:700px;
  background-color:white;
  float:left;
}
.section_2_droite h1 {
  color:#66B6D4;
  font-size:26px;
  text-align:left;
  margin-left: 25px;
}
.texte_ecole_1 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:70px;
}
.texte_ecole_2 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:60px;
}
.texte_ecole_3 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:60px;
}
.texte_ecole_4 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:50px;
}
.texte_ecole_5 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:35px;
}


.background_competences {
  background-color:#66B6D4;
  width:80%;
  height:630px;
  margin-left:140px;
  box-shadow: 2px 2px 2px 2px #66B6D4;
  margin-bottom:20px;
}
.competences {
  width:40%;
  height:625px;
  margin-left:140px;
  background-color:#66B6D4;
  margin-bottom:20px;
  -webkit-transition:width:1s height:1s;
  -webkit-transition:0.5s;
  -moz-transition:width:1s height:1s;
  -moz-transition:0.5s;
}
.competences:hover{
  width:80%;
}
.competences h1 {
  color:white;
  font-size:26px;
  text-align:center;
  padding-top:50px;
}
.skillsBar li{
  height:30px;
  background: #C4C7CB;
  margin-bottom:30px;
  width:90%;
  color:white;
  text-decoration:none;
  list-style:none;
}
.skillsBar li em{
  padding-left:7px;
  letter-spacing: 1px;
  line-height:25px;
  text-decoration:none;
}
.html_css{
  width:70%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.JS{
  width:35%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.ruby{
  width:35%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.linux_debian{
  width:65%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.git{
  width:65%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.office{
  width:80%;
  background-color:#505D63;
  height:30px;
  float:left;
}
.adobe_crea{
  width:65%;
  background-color:#505D63;
  height:30px;
  float:left;
}


#megadiv_section_3 {
  width:1350;
  height:920px;
  margin-top:30px;
}
#grande_section_3_gauche {
  float:left;
  height:920px;
  width:750px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px grey ;
  margin-left:20px;
}
.section_3_gauche {
  height:900px;
  width:120px;
  background-color:white;
  float:left;
  margin-left:20px;
}
.dates_stages_1 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:120px;
}
.dates_stages_1 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_stages_2 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:135px;
}
.dates_stages_2 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_stages_3 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:115px;
}
.dates_stages_3 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_stages_4 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:110px;
}
.dates_stages_4 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_stages_5 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:120px;
}
.dates_stages_5 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.section_3_centre {
  height:900px;
  width:500px;
  background-color:white;
  float:left;
  margin:20px;
  border-left: 2px outset grey;
}
.section_3_centre h1 {
  color:#96CA2D;
  font-size:26px;
  text-align:left;
  margin-left: 25px;
}
.texte_stages_1 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}
.texte_stages_2 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}
.texte_stages_3 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}
.texte_stages_4 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:50px;
}
.texte_stages_5 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:35px;
}


#section_3_droite {
  height:700px;
  width:540px;
  background-color:#96CA2D;
  float:left;
  margin-left:20px;
  box-shadow: 2px 2px 2px 2px #96CA2D;
  margin-right:20px;
  margin-bottom:100px;
  margin-top:115px;
}
#section_3_droite h1 {
  color:white;
  font-size:26px;
  text-align:left;
  margin-left: 30px;
  margin-top:40px;
}
.dates_assos_1 {
  height:25px;
  width:120px;
  background-color:white;
  margin-top:95px;
  margin-left: 30px;
}
.dates_assos_1 p{
  color:#96CA2D;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.dates_assos_2 {
  height:25px;
  width:60px;
  background-color:white;
  margin-top:80px;
  margin-left:30px;
}
.dates_assos_2 p{
  color:#96CA2D;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}
.texte_assos_1 {
  color:white;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}
.texte_assos_2 {
  color:white;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}


#loisirs {
  height:550px;
  width:1310px;
  background-color:white;
  box-shadow: 2px 2px 2px 2px grey;
  margin-top:20px;
  margin-left:20px;
}
#loisirs h1 {
  color:grey;
  font-size:34px;
  text-align:center;
  padding-top: 50px;
}
#loisirs img {
  float:left;
  height:250px;
  width:325px;
  border-radius:45%;
  margin-top:50px;
  margin-left:85px;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
#loisirs img:hover {
  -webkit-transform:translate(0px,-30px);
  -moz-transform:translate(0px,-30px);
  -ms-transform:translate(0px,-30px);
  -o-transform:translate(0px,-30px);
  transform:translate(0px,-30px);
}

.cinema {
  height:35px;
  width:120px;
  background-color:#66B6D4;
  margin-top:40px;
  margin-left:190px;
  float:left;
}
.cinema p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height:2px;
}
.ecriture {
  height:35px;
  width:120px;
  background-color:#66B6D4;
  margin-top:40px;
  margin-left:290px;
  float:left;
}
.ecriture p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height:2px;
}
.musique {
  height:35px;
  width:120px;
  background-color:#66B6D4;
  margin-top:40px;
  margin-left:290px;
  float:left;
}
.musique p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height:2px;
}



.div_footer {
  width:1310px;
  height:200px;
  background-color:black;
  margin-left:20px;
  margin-right:45px;
  box-shadow: 2px 2px 2px 2px black;
  padding-top:20px;
  margin-top:20px;
  margin-bottom:20px;
  opacity:0.8;
}
.div_footer h1 {
  color:white;
  size:28px;
  margin-left:20px;
}
.div_footer p {
color:white;
padding-left:50px;
font-size:16px;
opacity:0.9;
}
.contact{
  float:left;
}
.reseaux_contact {
  float:left;
  background-color:white;
  height:150px;
  width:650px;
  margin-left:100px;
  margin-top:20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.reseaux_github {
  float:left;
  height:90px;
  margin-left:70px;
  margin-top:35px;
}
.reseaux_viadeo {
  float:left;
  height:140px;
  margin-left:50px;
  margin-bottom:25px;
}

.reseaux_linkedIn {
  height:60px;
  margin-left:50px;
  margin-top:50px;
}
